<link rel="stylesheet" href="Tag.css" >


<script>
let tagList = new Tag({
    parentHtmlTag:"taglist", 
    action:whatTodo,
    tagsSuggestionEnabled:0,
    dataSource:getTags,
    displaySuggestions:displaySuggestion,
    trigerAction:1
})
function whatTodo(data){
    console.log("whatTodo",data)
}
function getTags(suggestion =""){
    response = [
        {id:1, tagText:"11"},
        {id:2, tagText:"22"},
        {id:3, tagText:"33"},
        {id:4, tagText:"44"},
        {id:5, tagText:"55"},
        {id:6, tagText:"66"},
        {id:7, tagText:"77"},
        {id:8, tagText:"88"},
        {id:9, tagText:"99"},
        {id:10, tagText:"10"},
        {id:11, tagText:"11.5"},
        {id:12, tagText:"12"},
        {id:13, tagText:"13"},
        {id:14, tagText:"14"}
    ]
    if(suggestion != "")
    response = response.filter((val,index)=>{
        if(val.tagText == suggestion){
            return 1
        }
        return 0
    })
    return response

}
function displaySuggestion(data){
    console.log("displaySuggestion",data)
    $("#h").remove()
    $(this.parentHtmlTag).after('<div id="h">qsdqdssq</div>')
}
</script>

<script src="Tag.js"></script>