#taginput{
    border: none;
    height:33px;
    
}
#taglist{
    position: relative;
    height:36px;
    width:100%;
    border: 1px solid #BBC0C4;
    padding: .5px;
    margin: 0 auto;
    height: 37px;
    border-radius: 3px;
}
input:focus {
    outline: none;
}

.cTimes{
    font-size: 13px;
}

#suggestion{

    
    display: none;
    width: 100%;
    
    background-color: #fff !important;
    border: .5px #000 solid !important;

}
.sujestionBlockText{
    font-size: 10px;
    overflow: hidden;
    font-weight: 400;

}
.tagSugestionBlock:hover{
    background-color: #EBE0CC;
    cursor: pointer;
}
.tagSugestionBlock{
    max-width: 200px;
    padding:5px;
}
.sugesstionTagName{
    max-width:70px;
    margin-right: 2px !important;
}
.s-tag {

    align-content: center;
    justify-content: center;
    min-width: 0;
    padding-left: 4px;
    padding-right: 4px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    font-size: .92307692rem;
    line-height: 1.84615385;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    border-color: transparent;
    background-color: #E1ECF4;
    color: #2c5777;

}
.rendered-element {
    margin: 3px;
    vertical-align: middle;
}
.s-tag--dismiss {
    
    align-content: center;
    align-self: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    margin-right: -1px;
    margin-left: 4px;
    padding: 1px;
    border-radius: 3px;
}
.s-tag:hover {
    box-shadow: inset 1px 1px 1px 10px rgba(0,0,0,0.1);
      
}
.s-tag:hover .s-tag--dismiss {
    color:#fff !important; 
    background-color: rgba(44,87,119,0.9);
    font-weight: 700;
    cursor: pointer;
    padding: 1px;
}
#tagsResultPoptup{
    width:100%;
    display:none;

    border:.5px solid #000;
}